# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python environment files
*.pyd
*.pyo

# Logs
*.log

# Coverage reports
.coverage
htmlcov/
.pytest_cache/
